<?xml version="1.0"?>
<robot name="service_robot_cart" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find service_robot_cart_description)/urdf/service_robot_cart_geometric.urdf.xacro"/>

  <!-- ===== Joint velocity controllers (x4) ===== -->
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>front_left_wheel_joint</joint_name>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>front_right_wheel_joint</joint_name>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>rear_left_wheel_joint</joint_name>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>rear_right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <!-- Gazebo material definitions (synced with RViz) -->
  <gazebo reference="base_link">
    <material>Gazebo/Silver</material>
  </gazebo>
  <gazebo reference="body_link">
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="top_display_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="front_left_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="front_right_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="rear_left_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="rear_right_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="tray_1_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="tray_2_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="tray_3_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="tray_4_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_sensor_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="rear_sensor_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="left_side_camera_link">
    <material>Gazebo/GreyGlass</material>
  </gazebo>
  <gazebo reference="right_side_camera_link">
    <material>Gazebo/GreyGlass</material>
  </gazebo>
  <gazebo reference="rear_camera_link">
    <material>Gazebo/GreyGlass</material>
  </gazebo>

  <xacro:include filename="$(find service_robot_cart_description)/urdf/sensor_plugins.xacro"/>
</robot>
